img{
height:300px;
}
show-selected img{
  height:auto;
}
h1{
font-size:70px;
}
@media (max-width: 767px){
 h1{
  font-size:50px;
 }
  .show-selected .col-md-4 img{
    width: 100%;
    height: auto;
  }
}
