<div class="jumbotron mt-5">
    <h1 class="display-4 text-danger fw-bolder">About</h1>
    <p class="lead text-muted mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae omnis praesentium possimus. Optio, quas! Minus ducimus illo autem modi dignissimos, corporis laudantium labore, quod incidunt officia perferendis ratione! Minima laboriosam sit voluptas. Amet rem dolor delectus temporibus, asperiores et voluptas pariatur quis sint accusamus veritatis expedita tempore molestias aspernatur eos nam? In officiis quam neque dicta, rerum, iusto beatae ex ab inventore accusantium illo, asperiores enim earum delectus soluta corporis explicabo amet. Vel sed totam voluptatem repellendus, fugiat assumenda dolorem? Explicabo natus omnis aut error necessitatibus ipsa a, repudiandae ab ipsam fuga voluptatibus iste. Facilis libero eius ipsum delectus optio.</p>
    <hr class="my-4">
    <p class="text-muted">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-warning btn-lg text-white mt-3" routerLink='dishs' role="button">See more</a>
    </p>
  </div>

