<div class="contact">
    <div class="container d-flex justify-content-center align-items-center mb-5 flex-column">
        <h1 class="display-4 text-danger fw-bolder m-5">Contact Us</h1>
        <div class='row w-100 d-flex justify-content-center align-items-center mb-5'>
            <div class="col-md-6 mx-3">
                <input type="text" name="" id="" placeholder="Name" class="form-control my-2 pb-4">
                <input type="email" name="" id="" placeholder="Email Address" class="form-control my-2 pb-4">
                <input type="number" name="" id="" placeholder="Phone Number" class="form-control my-2 pb-4">
                <textarea name="" id="" cols="20" rows="3" class="form-control my-2 pb-4"
                    placeholder="Message"></textarea>
                <button class="btn btn-warning btn-lg text-white mt-3 px-4 py-2">Send</button>
            </div>
            <div class="col-md-4 contact-cap m-2">
                <div class="section-title">
                    <h3 class="fw-bolder mb-4 text-dark">ADDRESS</h3>
                </div>
                <p>4th Floor, Plot No.22, 145 Murphy Canyon Rd. San Diego CA 2028</p>
                <p>
                    <i class="fa-solid fa-phone-flip p-2 text-danger"></i>(060) 444 434 444
                </p>
                <p>
                    <i class="fas fa-fax p-2 text-danger"></i>(060) 555 545 555
                </p>
                <p>
                    <i class="fa-solid fa-envelope p-2 text-danger"></i>chat@Salta3.com
                </p>
                <h4 class="fw-bolder mt-1 mb-4 mx-2 text-dark">FOLLOW Us</h4>
            </div>
        </div>

    </div>
</div>